.button{
  &.small{
    height: 24px;
    padding: 0 8px;
  }
  &.medium{
    height: 40px;
    padding: 0 16px;
  }
  &.large{
    height: 64px;
    padding: 0 24px;
  }
  &.blue{
    background: rgba(96,165,250,var(--un-bg-opacity));
    color: white;
  }
  &.white{
    background: white;
    color: #333;
  }
}
